<header
  class="fixed top-0 left-0 hidden h-full w-48 shrink-0 flex-col justify-between px-6 py-8 2xl:flex"
>

  <div>
    <div class="logo-text mb-10 text-[1.1rem] leading-tight select-none">
      Ankit<br />Muryn-Mukha
    </div>

    <nav class="flex flex-col gap-3">
      <a href="#" class="text-sm font-medium text-gray-400">Services</a>
      <a href="#" class="text-sm text-gray-400">Work</a>
      <a href="#" class="text-sm text-gray-400">Experience</a>
      <a href="#" class="text-sm text-gray-400">Publications</a>
      <a href="#" class="text-sm text-gray-400">About</a>
    </nav>
  </div>


  <div class="flex flex-col gap-2">
    <a href="#" class="text-sm text-gray-400">LinkedIn</a>
    <a href="#" class="text-sm text-gray-400">Email</a>
  </div>
</header>
