@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Fira+Code:wght@300..700&family=La+Belle+Aurore&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap");
/* Theme tokens */
@theme {
  --font-BebasNeue: "Bebas Neue";
  --font-Bitcount: "Bitcount Grid Double";
  --font-FiraCode: "Fira Code";
  --font-LaBelle: "La Belle Aurore";
  --font-Montserrat: "Montserrat";
  --font-Neucha: "Neucha";
  --font-Nunito: "Nunito";
  --font-UbuntuMono: "Ubuntu Mono";
  --font-VT323: "VT323";
}
